.nav_container {
  width: 120px;
  height: 100%;
  background: #191718;
  text-align: start;
}

.nav_bar ul {
  margin: 0;
  padding: 0;
}

.nav_bar ul li {
  list-style: none;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  padding: 12px 5px;
  border-bottom: 1px solid #5c5c5c;
}

.nav_bar ul li:hover {
  background-color: #5c5c5c;
}

@media screen and (max-width: 1200px) {
}
/* tablet  */
@media screen and (max-width: 992px) {

}
/* mobile: horizontal  */
@media screen and (max-width: 768px) {

}
/* mobile: vertical */
@media screen and (max-width: 576px) {
}