.contentItem {
  max-width: 470px;
}

.title {
  font-size: 24px;
}

.content p {
  float: none;
}

.item_img {
  float: left;
  margin: 0 16px 6px 0;
}

.img {
  width: 128px;
  height: 128px;
}

@media screen and (max-width: 1200px) {
}
/* tablet  */
@media screen and (max-width: 992px) {
  
}
/* mobile: horizontal  */
@media screen and (max-width: 768px) {
}
/* mobile: vertical */
@media screen and (max-width: 576px) {
}
